!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %b
      Hello
      = @employee.name
    %p
      = "Today the person who has birthday on facebook is #{friend_name}"
    %p
      On behalf of you virtue-info fb apps successfully posted a wishing message on your friend's wall.
      %br/
    %p
      %p Thanks have a great day!
    %br
    %br
    %b
      VirtueInfo FB Apps.

