%table{:style => "width:100%"}
  %tr
    %th{:style => 'text-align:center;color:black'}
      fb image
    %th{:style => 'text-align:center;color:black'}
      Name
    %th{:style => 'text-align:center;color:black'}
      BithDate
    %th{:style => 'text-align:center;color:black'}
      Fb Profile URl
  - friends.each do |friend|
    %tr
      %td{:style => 'text-align:center'}
        = link_to image_tag(@graph.get_picture(friend["id"])),friend["link"],:target => "_blank"
      %td{:style => 'text-align:center'}
        = friend["name"]
      %td{:style => 'text-align:center'}
        = friend["birthday"]
      %td
        = link_to friend["link"],friend["link"],:style => 'color:black' ,:target => "_blank"

