-##footPanel
-#  .nav
-#    %ul
-#      %li
-#        %a{:href => "#"} Home
-#      %li
-#        .blank |
-#      %li
-#        %a{:href => "#"} About Us
-#      %li
-#        .blank |
-#      %li
-#        %a{:href => "#"} Suppor
-#      %li
-#        .blank |
-#      %li
-#        %a{:href => "#"} Forum
-#      %li
-#        .blank |
-#      %li
-#        %a{:href => "#"} Development
-#      %li
-#        .blank |
-#      %li
-#        %a{:href => "#"} Conact Us
-#  .copyright © Copyright Infirmation Goes Here. All Rights Reserved.
-#  %p.designInfo
-#    Design by
-#    %a{:href => "http://www.templateworld.com/"} TemplateWorld
-#    and brought to you by
-#    %a{:href => "http://www.smashingmagazine.com/"} SmashingMagazine
-#  .validation
-#    %ul
-#      %li
-#        %a{:href => "http://validator.w3.org/check?uri=referer"} xhtml
-#      %li
-#        .blank
-#      %li
-#        %a{:href => "http://jigsaw.w3.org/css-validator/check/referer"} css