%footer
  %p
    Copyright &copy; Virtue-Info Web Solutions|
    %a{:href => "http://www.css3templates.co.uk"} design from css3templates.co.uk
%p &nbsp;
:javascript
$(document).ready(function() {
  $('ul.sf-menu').sooperfish();
});