%header
  #logo
    #logo_text
      / class="logo_colour", allows you to change the colour of the text
      %h1
        %a{:href => "#{root_url}"}
          Virtue Info
          %span.logo_colour Employees Birthday Web Apps
      %h2 Simple. Contemporary. Website Template.
  %nav
    %ul#nav.sf-menu
      %li.selected
        = link_to "Home",root_url
      %li
        %a{:href => "#"} I am
        %ul
          %li
            - if user_signed_in?
              = link_to "Logout",destroy_user_session_path
            - else
              = link_to "An admin",rails_admin_path
      %li
        %a{:href => "contact.php"}

